/*entire html styling*/ 
body {background-color: #192841;}
.initials-pic {float: right; width: 500px;}
h2 {color:rgb(198, 206, 214); font-size: 45px; padding-bottom: 5px;}
p {color:rgb(198, 206, 214); font-size: 25px;}
h1 {color:rgb(198, 206, 214);}
/*header box*/
nav {
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #878787;
    color:rgb(198, 206, 214);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;    
}
#menu {font-size: 2rem;
}
#menu :hover {color: #192841;}
#initials {font-size: 20px; padding-left: 7px;}
.in {border-bottom: 1px solid;}
a {color:aliceblue;
    text-decoration: none;
    margin: 10px;
}
/*index html*/
.index-p {font-size: 35px; padding-top: 1vh; padding-bottom: 10px;}
h3 {color: rgb(198, 206, 214); font-size: 35px; padding-top: 1vh; padding-bottom: 20px;}
footer {color: rgb(198, 206, 214); font-size: 35px; height: 200vh;}
/*about html*/
main {padding-top:5vh}
.about-pic {width:200px; float: right;}
.about-head {font-size: 55px; border-bottom: rgb(198, 206, 214) solid; text-align: center;}
/*portfolio*/
.portfolio-h1 {font-size: 55px; border-bottom: rgb(198, 206, 214) solid; text-align: center;}