nav {
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #878787;
    color:aliceblue;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;    
}
a {color:aliceblue;
    text-decoration: none;
    margin: 10px;
}
#menu {font-size: x-large;
}
#menu :hover {color: #192841;}
.in {border-bottom: 1px solid;}
body {background-color: #192841;}
main {padding-top:80px}
.about-pic {width:200px}